#left-column {
  float: left;
  background-color: #001f3f;
}

.column {
  width: 43.6%;
  color: #DDDDDD;
  padding-left: 40px;
  padding-right: 40px;
}

#right-column {
  float: right;
  background-color: #FF4136;
}

#footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  background-color: #3D9970;
  color: #DDDDDD;
  width: 100%;
}

.face {
	width: 100px;
	height: 100px;
	background-color: #B10DC9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: absolute;
  bottom: 36px;
  right: 26px;
}

.mouth {
   width: 78px;
   height: 8px;
   background: #001f3f;
   position: absolute;
   bottom: 31px;
   right: 10px;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
 }

 .eye-left {
   width: 9px;
 	height: 9px;
 	background: #001f3f;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
   position: absolute;
   bottom: 56px;
   right: 24px;
 }

 .eye-right {
   width: 9px;
 	height: 9px;
 	background: #001f3f;
 	-moz-border-radius: 50px;
 	-webkit-border-radius: 50px;
 	border-radius: 50px;
   position: absolute;
   bottom: 56px;
   right: 66px;
 }
